.jumbotronCustom {
    margin-top: -65px;
    background-image: url(../Home/Jumbotron.jpg);
    background-size: cover;
}

.jumbotronCustom h1 {
    font-size: 80px;
    font-family: 'Staatliches', cursive;
    color: white;
}

.jumbotronCustom p {
    color: white;
}

.searchbar {
    width: 100%;
}

.searchbar input {
    width: 90%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 5px 0px 0px 5px;
    padding: 8px 20px 8px 20px;
}
.searchbar input:focus{
    outline: none;
}

.searchbar button {
    width: 10%;
    background-color: white;
    border: none;
    padding: 8px 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, #FFBD00 0px 0px 0px 1px;
    border-radius: 0px 5px 5px 0px;
    color: rgb(93, 93, 93);
}

.searchbar button:hover {
    background-color: #FFBD00;
    color: white;
}

.comicList {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.comicItem {
    margin-bottom: 30px;
}

.comicItem h5 {
    height: 50px;
}

.comicItem h5:hover {
    color: #A9211A;
    cursor: pointer;
}

.comicItem img {
    height: 400px;
}

.comicItem p,i {
    display: inline;
}

.comicItem i {
    color: #FFBD00;
    display: inline;
}

.cardListCustom {
    border: none;
    width: 16rem;
}
.cardListCustom:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.rating {
    background-color: white;
    text-align: center;
    width: 100%;
    padding: 20px 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.reactStars{
    margin: auto;
}

.rating h5 {
    font-weight: 400;
}

.rating button {
    margin-top: 10px;
    background-color: #FFBD00;
    border: 1px solid #FFBD00;
    border-radius: 5px;
    color: white;
}

.rating button:hover {
    background-color: #ffffff;
    border: 1px solid #FFBD00;
    border-radius: 5px;
    color: #FFBD00;
}

.cardCustom {
    width: 100% !important;
    background-color: rgb(251, 251, 251);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.cardCustom img {
    height: 430px;
}

.cardCustom i {
    color: rgb(255, 221, 0);
}

.cardCustom h5 {
    font-size: 30px;
}

.cardCustom button {
    background-color: #FFBD00;
    border: 1px solid #FFBD00;
    border-radius: 5px;
    color: white;
}

.cardCustom button:hover {
    background-color: #ffffff;
    border: 1px solid #FFBD00;
    border-radius: 5px;
    color: #FFBD00;
}

.readComic button {
    background-color: #FFBD00;
    border: 1px solid #FFBD00;
    border-radius: 5px;
    color: white;
    padding: 5px;
}
.readComic button:hover {
    background-color: #ffffff;
    border: 1px solid #FFBD00;
    border-radius: 5px;
    color: #FFBD00;
}

@media (max-width: 991.98px) {
    .jumbotronCustom {
      margin-top: 0px;
    }
    .searchbar input {
        width: 80%;
    }
    .searchbar button {
        width: 20%;
    }
}

@media (max-width: 767.98px) {
    .comicItem img{
        height: 280px;
    }
    .cardListCustom {
        border: none;
        width: 11rem;
    }
    .comicItem h5 {
        font-size: 15px;
    }
    .readComic iframe {
        width: 90%;
        height: 500px;
        margin-top: 25px;
    }
    .jumbotronCustom {
        display: none;
    }
    .searchbar input {
        font-size: 10px;
    }
    .searchbar button {
        font-size: 10px;
    }
}