tr,td {
    border: 1px solid black;
}

.removeBorder {
    border: none;
}

.inputan {
    margin-top: 25px;
}

.jumbotronCustom {
    margin-top: -65px;
    height: 800px;
    background-image: url(./Jumbotron.jpg);
    background-size: cover;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.jumbotronCustom h1 {
    font-size: 120px;
    font-family: 'Staatliches', cursive;
    color: white;
}

.jumbotronCustom p {
    color: white;
}

/* .cobaNavbar {
    background-image: url(./Jumbotron.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    color: white;
    height: 200px;
} */

/* .isiNavbar {
     background-color: salmon; 
} */

/* .isiNavbar p {
    display: inline;
    margin-left: 30px;
} */

.comicList {
    /* margin-top: 10px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width: 991.98px) {
    .jumbotronCustom {
      margin-top: 0px;
    }
  }

